# Example env for docker-compose
JWT_SECRET=super-secret-for-dev
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
RESEND_API_KEY=re_DasYNKCf_CLRkbQBmyDkaUVaen6PT33MX
RESEND_FROM=retail.ppprotein.com.au
BRAND_NAME=Your Brand
# Public or CDN URL of logo suitable for dark background header in email (transparent PNG recommended)
BRAND_LOGO_EMAIL_URL=https://example.com/logo-email.png
ORDER_NOTIFICATION_EMAILS=ops@example.com,accounts@example.com